.Weather-Home_cta {
    width: 330px;
    height: 690px;
    position: absolute;
    top: 10rem;
    background-image: url('../assets/weather-bg-sun.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 32px;
    z-index: 1;
    opacity: 0;
    animation: textFadeIn 1s ease-in forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.Home-overlay {
    height: 100%;
    width: 100%;
    background-color: #000000;
    border-radius: 32px;
    opacity: 1;
    z-index: 2;
    animation: screenFadeIn 1s 2s ease-in forwards;
}

@keyframes screenFadeIn {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}