.Navbar {
    position: fixed;
    top: 0;
    /* left: 0; */
    width: 90%;
    height: 3rem;
    border-bottom: 1px solid hsla(0,0%,59.2%,.3);
    padding: 0.5rem 1rem 0.5rem 1rem;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-weight: 400;
}
.Navbar-Left_cta,
.Navbar-Right_cta {
    height: 100%;
    width: auto;
    gap: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
}
.Navbar-Left_cta img {
    height: 2rem;
    width: 2rem;
}
.Navbar-Left_cta h1 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}