.Widgets {
    height: 2rem;
    width: 90%;
    position: absolute;
    top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    z-index: 3;
    animation: textFadeIn 0.7s 1.1s ease-in forwards;
}
.Widgets-Left_cta {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
}
.Widgets-Right_cta {
    height: 90%;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
}