.App {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body, html {
    overflow-x: hidden;
	background-color: #1d1d1f;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.App-Intro {
	position: absolute;
	top: 12rem;
	margin-right: 4rem;
	left: 0;
	opacity: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	user-select: none;
}
.App-Intro img {
	transform: scale(0.8);
}
.App-Intro_h1 {
    font-size: 32px;
	transform: scale(1.5);
	font-weight: 700;
	margin-right: 11rem;
	background: linear-gradient(91.36deg,
			#eca658 0%,
			#f391a6 13.02%,
			#e188c3 25.52%,
			#a58de3 37.5%,
			#56abec 49.48%,
			#737eb7 63.02%,
			#c8638c 72.92%);
	background-size: 200% 200%;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	-moz-background-clip: text;
	-webkit-animation: intro-gradient 10s infinite ease both;
	-moz-animation: intro-gradient 10s infinite ease both;
	animation: intro-gradient 10s infinite ease both;
}
.App-Intro p {
	color: #fff;
	width: 60%;
	line-height: -0.045em;
	font-weight: 400;
	margin-right: 8rem;
}
#App-IntroContent {
	font-size: 20px;
}
#App-Intro-Eyebrow {
	font-size: 16px;
	color: rgba(255, 255, 255, 0.556);
}
.App-Navigate_cta {
	margin-right: 8rem;
	width: 60%;
	height: 4rem;
	gap: 2rem;
	display: flex;
	align-items: center;
}
.App-Navigate_viewCode {
	width: 40%;
	color: #fff;
	background-color: #0071e3;
	font-size: 14px;
    line-height: 1.1764805882;
    letter-spacing: -0.022em;
	padding: 8px 16px;
    border-radius: 980px;
	white-space: nowrap;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	border: none;
	cursor: pointer;
}
#App-Navigate_howItWorks {
	color: #2997ff;
	transition: 0.3s ease;
}
#App-Navigate_howItWorks:hover {
	text-decoration: underline;
	cursor: pointer;
	user-select: none;
}

@keyframes textFadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes intro-gradient {
	0% {
		background-position: 0% 4%;
	}

	50% {
		background-position: 100% 97%;
	}

	100% {
		background-position: 0% 4%;
	}
}

@-moz-keyframes intro-gradient {
	0% {
		background-position: 0% 4%;
	}

	50% {
		background-position: 100% 97%;
	}

	100% {
		background-position: 0% 4%;
	}
}

@keyframes intro-gradient {
	0% {
		background-position: 0% 4%;
	}

	50% {
		background-position: 100% 97%;
	}

	100% {
		background-position: 0% 4%;
	}
}